.OnSale {
  text-decoration: line-through;
  font-size: small;
  color: gray;
  font-weight: normal;
}
.gropbuy-item-tag {
  display: flex;
  justify-content: space-between;

  height: 18px;
  width: 100px;
  border: 2px solid orangered;
}
.gropbuy-item-tag-icon {
  display: flex;
  padding-right: 1px;
  padding-bottom: 2px;
  background-color: orangered;
}
.gropbuy-item-tag-text-box {
  width: 100%;
}

.gropbuy-item-tag-text {
  font-size: 14px;
  text-align: center;
  color: orangered;
}
